@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alan Turing s/n<br />
    Madrid, 28031<br />
    <abbr title="Phone">P:</abbr>
    91 067 35 24
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rosario.orbezo.pastrana@alumnos.upm.es</a><br />

</address>