@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-image:url('../img/tienda.jpg')">
       <h1>&nbsp;</h1>
        <p class="lead">&nbsp;</p>
        <p><a href="~/Products" class="btn btn-warning btn-lg">See Offers book &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-5">
            <h2>Get more libraries</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2445.102989892307!2d8.702798615338821!3d52.2051758797558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ba1270c9899e51%3A0x861ea8797d60880a!2sThe+House+of+Books!5e0!3m2!1ses!2ses!4v1561500972506!5m2!1ses!2ses" width="40%" height="60%" frameborder="0" style="border:0" allowfullscreen></iframe>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <h2>Offers</h2>
            <p>Available the first day of October.</p>
            <img src="~/img/therain.jpg" style="width:30%;height:20%;" alt="Number 1">
            <p><a class="btn btn-default" href="~/Products/Details/1">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-1">&nbsp;</div>
    </div>
